@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import "calendar.css";

/* general elements */

:root {
    --main-color: #4b0082;
    --additional-color: floralwhite;
    --offset: 10px;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(to right, var(--main-color), var(--additional-color));
}

main {
    max-height: 850px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 55% 20% 20% 5%;
    grid-template-areas:
    "controls data"
    "controls data"
    "controls data"
    "controls data";
}

/* header */

header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: calc(2 * var(--offset));
    border-radius: 0 0 var(--offset) var(--offset);
    border: var(--offset) black;
    box-shadow: 0 var(--offset) calc(2 * var(--offset)) rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle, var(--additional-color) 0%, var(--main-color) 100%);
}

.site-name,
.current-date-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--offset);
    font-size: 2rem;
    font-weight: bolder;
}

.site-description {
    padding: calc(2 * var(--offset));
}

/* main */

/* controls */

.controls-container {
    grid-area: controls;
    padding: calc(2 * var(--offset));
    margin-top: var(--offset);
    box-shadow: 0 var(--offset) calc(2 * var(--offset)) rgba(0, 0, 0, 0.2);
    border-radius: var(--offset);
    background: var(--main-color);
}

.coordinates-container {
    padding: var(--offset);
    text-align: center;
}

.coordinates-label {
    color: var(--additional-color);
    font-weight: bolder;
}

.coordinates-input {
    width: 85%;
    padding: calc(var(--offset) + 2px);
    font-size: 1rem;
    border-radius: calc(var(--offset) / 2);
    border: 1px solid var(--additional-color);
    margin: var(--offset) 0 var(--offset) 0;
}

/* buttons */

.form-buttons-container {
    margin-top: var(--offset);
    margin-bottom: var(--offset);
    padding: var(--offset);
    background: white;
    border-radius: var(--offset);
}

/* data */

.data-container {
    max-height: 95%;
    grid-area: data;
    box-shadow: 0 var(--offset) calc(2 * var(--offset)) rgba(0, 0, 0, 0.2);
    margin: var(--offset) 0 0 var(--offset);
    padding: calc(var(--offset) * 2);
    overflow: hidden;
    border-radius: var(--offset) var(--offset) 0 var(--offset);
    border: calc(var(--offset) / 2) black;
    background: var(--additional-color);
}

.current-date-header {
    padding-bottom: var(--offset);
    border-bottom: 2px black solid;
}

.info-container {
    max-height: 95%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: auto;
}

.info-header {
    font-size: 1.5rem;
    margin: var(--offset) calc(var(--offset) * 1.5) 0 calc(var(--offset) * 1.5);
}

.positions-container,
.moon-phase-container {
    display: flex;
    flex-direction: column;
    margin: calc(var(--offset) * 2) 0;
}

.positions-container {
    width: 65%;
    border-radius: var(--offset) 0 0 10px;
    border: 2px black solid;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
}

.positions-container::-webkit-scrollbar-track
{
    border-radius: var(--offset);
    background-color: var(--additional-color);
}

.positions-container::-webkit-scrollbar
{
    width: calc(var(--offset) / 2);
    background-color: var(--additional-color);
}

.positions-container::-webkit-scrollbar-thumb
{
    border-radius: var(--offset);
    background-color: var(--main-color);
}

.positions-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.data-card {
    width: auto;
    background: var(--main-color);
    color: var(--additional-color);
    margin: var(--offset) calc(var(--offset) / 2) var(--offset) calc(var(--offset) / 1.5);
    padding: calc(var(--offset) / 2);
    border-radius: var(--offset);
    transition: 0.1s ease-out;
    border: 1px solid var(--additional-color);
    display: flex;
    flex-direction: column;
    gap: var(--offset);
}

.data-card:hover {
    border-color: var(--main-color);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.5);
}

.data-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--offset);
}

.body-info {
    padding: 0 var(--offset);
}

.moon-phase-container {
    width: 35%;
    border-radius: 0 var(--offset) var(--offset) 0;
    border: 2px black solid;
    justify-content: flex-start;
    align-items: center;
}

.moon-phase {
    margin-top: var(--offset);
    border-radius: var(--offset);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.moon-phase:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.moon-phase:active {
    transform: scale(0.95) rotateZ(1.7deg);
}